section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

img {
    display: flex;
    text-align: center;
    margin: auto;
}

img.gallery {
    height: 250px;
    margin: 20px;
}

a img {
    -moz-transition: all .25s;
    -webkit-transition: all .25s;
    -ms-transition: all .25s;
    transition: all .25s;
}

a img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}